<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
</head>

<body>
    <div class="far fa-container-storage fa-lg"></div>
    <h1>User Information </h1>
    <div class="card" style="width:15rem">
        <div class="card-body ">
            <h4 class="card-title">Your Information</h4>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label "> first Name:</label>
                <input type="first_name" class="form-control" id="first_name" name="first_name">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comment Here</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>

</html>